.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 10px;
}

.logo {
  color: var(--textSoft);
  font-weight: 600;
}

.text {
  font-size: 14px;
}
