.container {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 6px 0px;
  border-radius: 10px;
  font-size: small;
}

.container:hover,
.active {
  background-color: #2e374a;
}
